<div class="intro-container">
    <div class="zone-centrale">
        <div class="zone-title">Bienvenu dans la CV TECH</div>
        <div class="img-app">
            <img src="./assets/cv-conseils.png">
        </div>
        <div class="descriptif-app">
            Cette plateforme permet de mettre en relation les entreprises et les professionnnels à la recherche d'opportunités.<br>
            Par le biais de cette plateforme :
            <ul>
                <li>Les entreprises viennent publier des offres</li>
                <li>Les professionnels éditent leur cv et répondent aux offres qu'ils trouvent intéressantes</li>
            </ul>
            La plateforme vous met a disposition des interfaces avec un design épuré et intuitif.
        </div>
        <div class="btn-zone">
            <button (click)="goToRegister()">S'inscrire</button>
            <button (click)="goToAuth()">Se connecter</button>
        </div>
    </div>
</div>