<div class="box">
    <div class="box-first-row">
        <div class="box-title-group">
            <span><i style="color: blue;" class="fa fa-globe" aria-hidden="true"></i></span>
            <p class="titre">Langues</p>
        </div>
        <span (click)="addLangue()">AJOUTER</span>
    </div>
    <div class="langues-container">
        <div class="form-new-langue" *ngIf="canShowFormLangue">
            <input type="text" placeholder="Langue" [(ngModel)]="libelle">
            <select [(ngModel)]="niveau">
                <option value="debutant">Débutant</option>
                <option value="professionnel">Professionnel</option>
                <option value="courant">Courant</option>
            </select>
            <button (click)="saveLangue()">Enregistrer</button>
        </div>
        <div class="form-new-langue" *ngIf="canShowFormUpdateLangue">
            <input type="text" placeholder="Langue" [(ngModel)]="selectedLangue.libelle">
            <select [(ngModel)]="selectedLangue.niveau">
                <option value="debutant">Débutant</option>
                <option value="professionnel">Professionnel</option>
                <option value="courant">Courant</option>
            </select>
            <button (click)="updateLangue()">Enregistrer</button>
        </div>
        <div class="langue-row" *ngFor="let langue of langues">
            <div class="langue-field-group">
                <label>Langue</label>
                <input type="text" value="{{ langue.libelle }}" />
            </div>
            <div class="langue-niveau-field-group">
                <div class="option-group">
                    <input type="radio" value="Debutant" name="debutant" [checked]="langue.niveau == 'debutant'" />
                    <label form="debutant">Débutant</label>
                </div>
                <div class="option-group">
                    <input type="radio" value="Professionnel" name="professionnel" [checked]="langue.niveau == 'professionnel'"/>
                    <label form="professionnel">Professionnel</label>
                </div>
                <div class="option-group">
                    <input type="radio" value="Courant" name="courant" [checked]="langue.niveau == 'courant'"/>
                    <label form="courant">Courant</label>
                </div>
            </div>
            <span (click)="edit(langue.id)" class="edit-span">EDITER</span>
            <span (click)="delete(langue.id)">SUPPRIMER</span>
        </div>
    </div>
</div>